<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="http://47.56.105.7:8914/static/assets/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://47.56.105.7:8914/static/assets/css/bootstrap.min.css" >
    <script src="http://47.56.105.7:8914/static/assets/js/info.js" ></script>

    <title>创业加盟项目网_创业加盟好项目_创业加盟找项目就上！</title>
</head>
<style>
    p{
        padding: 0;
        margin: 0;
    }
    a:hover{
        text-decoration: none;
    }
    a:focus{text-decoration: none}
    .selectedBorder:hover{
        border: solid 2px red;
    }
    .card-body{
        padding: .25rem;
    }


</style>
<body>

<!--顶部条-->
<div class="d-flex flex-row-reverse bd-highlight" id='top_info'>

    <div class="p-2 bd-highlight">会员中心</div>
    <div class="p-2 bd-highlight">电话咨询：<span id="tel1"></span> |</div>
    <div class="p-2 bd-highlight">收藏网站 |</div>
    <div class="p-2 bd-highlight">您好！欢迎光临<span id="comName2"></span>官网&nbsp&nbsp&nbsp&nbsp</div>
</div>
<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"> <img id="top_logo" src="http://47.56.105.7:8914/static/assets/img/logo_header.png" alt="logo" style="width:161px;" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown rounded-pill  pr-4"> <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 全部商品分类 </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#FFFFFF">
                        <a class="dropdown-item text-normal" href="#">精品项目</a>
                        <a class="dropdown-item text-normal" href="#">餐饮加盟</a>
                        <a class="dropdown-item text-normal" href="#">日用/小吃</a>
                        <a class="dropdown-item text-normal" href="#">家居</a>
                    </div>
                </li>
                <li class="nav-item pr-4"> <a class="nav-link" href="#">首页 </a> </li>
                <li class="nav-item pr-4"> <a class="nav-link" href="#">商机库<span class="sr-only">(current)</span></a> </li>
                <li class="nav-item pr-4"> <a class="nav-link" href="#">加盟商</a> </li>
                <li class="nav-item pr-4"> <a class="nav-link" href="#">我要创业</a> </li>
                <li class="nav-item pr-4"> <a class="nav-link" href="#">加盟专题</a> </li>
                <li class="nav-item pr-4"> <a class="nav-link" href="#">关于我们</a> </li>

            </ul>

        </div>
    </div>
</nav>
<div>
    <img src='http://47.56.105.7:8914/static/assets/img/image_1.jpg' class="w-100"/>

    <form class="container text-center pt-3 pb-3">
        <div class="form-group text-left">
            <input  class="form-control" id="name" placeholder="请输入姓名">
        </div>
        <div class="form-group text-left">
            <input  class="form-control" id="phone" placeholder="请输入手机号">
        </div>

        <input type="button" class="btn btn-danger " onclick="submitFrom()" value="获取更多加盟资料"/>
    </form>
    <img src='http://47.56.105.7:8914/static/assets/img/image_2.jpg' class="w-100"/>
    <img src='http://47.56.105.7:8914/static/assets/img/image_3.jpg' class="w-100"/>
</div>

<form class="container text-center pt-3 pb-3" id="Table">
    <div class="form-group text-left">
        <input  class="form-control" id="name1" placeholder="请输入姓名">
    </div>
    <div class="form-group text-left">
        <input  class="form-control" id="phone1" placeholder="请输入手机号">
    </div>

    <input type="button" class="btn btn-danger " onclick="submitFrom1()" value="获取更多加盟资料"/>
</form>

<!--版权信息-->
<div class="card text-center bg-dark text-light" >
    <div id="banquan" class="card-body">
        <p class="card-text">版权所有：<span id="comName1"></span></p>
        <p class="card-text">投资有风险，选择需谨慎</p>
        <p class="card-text">备案号：<a href="http://www.beian.miit.gov.cn/" class="text-light"><span id="beian">粤ICP备XXXXXX</span></a></p>
    </div>
</div>


<!-- Optional JavaScript -->
<script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/dc71fef719c6f06b1774ac50148a7945/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
<script src="http://47.56.105.7/static/assets/js/jquery.min.js"></script>
<script>

    function submitFrom() {

        var name = $("#name").val();    // 获取id为username的<input>框数据
        var phone = $("#phone").val();    // 获取id为password的<input>框数据

        // Ajax提交数据
        $.ajax({
            url: "http://47.56.105.7/hr/ccx/submit",    // 提交到controller的url路径
            type: "post",    // 提交方式
            data: {"name": name, "phone": phone,"isPc":0},  // data为String类型，必须为 Key/Value 格式。
            dataType: "json",    // 服务器端返回的数据类型
            success: function (data) {    // 请求成功后的回调函数，其中的参数data为controller返回的map,也就是说,@ResponseBody将返回的map转化为JSON格式的数据，然后通过data这个参数取JSON数据中的值
                alert(data);
            },error(data){
                alert(data.responseText);
            }
        });
    }

    function submitFrom1() {

        var name = $("#name1").val();    // 获取id为username的<input>框数据
        var phone = $("#phone1").val();    // 获取id为password的<input>框数据

        // Ajax提交数据
        $.ajax({
            url: "http://47.56.105.7/hr/ccx/submit",    // 提交到controller的url路径
            type: "post",    // 提交方式
            data: {"name": name, "phone": phone,"isPc":0},  // data为String类型，必须为 Key/Value 格式。
            dataType: "json",    // 服务器端返回的数据类型
            success: function (data) {    // 请求成功后的回调函数，其中的参数data为controller返回的map,也就是说,@ResponseBody将返回的map转化为JSON格式的数据，然后通过data这个参数取JSON数据中的值
                alert(data);
            },error(data){
                alert(data.responseText);
            }
        });
    }



</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="http://47.56.105.7:8914/static/assets/js/bootstrap.min.js" ></script>

</body>
</html>